@import "../_shop_variables"
$idle-green: #29ad2c
$active-green: #279d2a
$red: #e3342f

//Size
.font-small
  font-size: small
.font-medium
  font-size: medium
.font-large
  font-size: large
//Weight
.font-light
  font-weight: 200
.font-normal
  font-weight: normal
.font-bold
  font-weight: bold
//color
.font-main
  color: $main-color
.font-red
  color: $red
.font-green
  color: $idle-green
