$m-width: 250px
$m-height: 250px
$width: 250px
$height: 250px

.thumbnail-grid
  display: grid
  width: 100%
  justify-items: center
  grid-gap: 10px
  grid-template-columns: repeat(auto-fill, minmax($m-width, 1fr))
  .thumbnail-wrapper
    border: 1px solid #eee
    box-shadow: 1px 1px 3px 0 #f2f2f2
    display: inline-block
    background: #fff
    img
      width: 100%
      min-height: $m-height
      object-fit: contain
      border-bottom: 1px solid #eee
    &.fit
      width: $width
      height: $height
    &.product
      width: $width
      height: auto
    &.thumbnail-img-wrapper
      position: relative
      width: $width
      height: 200px
    > .details
      text-align: center
      padding: 8px 5px
    p
      margin: 0
    a.title
      text-overflow: ellipsis
      overflow: hidden
      white-space: nowrap

.thumbnail-wrapper
  position: relative
  a.title
    color: #bd926d
    &:hover
      color: #f5c69d
  .price.sale
    color: #29ad2c
    s
      color: #777

.thumbnail-row
  display: flex
  flex-direction: column
  .thumbnail-wrapper
    display: flex
    width: 100%
    padding: 8px 0
    border-bottom: 1px solid #eee
    &:first-child
      border-top: 1px solid #eee
    img
      margin-right: 8px
      width: 50px
      max-width: 50px
      height: 50px
      max-height: 50px
    .details
      display: flex
      flex-direction: column
      p
        word-break: break-all
        margin: 0
    span, i
      &.sale
        display: none

@media (min-width: 768px)
  .thumbnail-grid
    display: grid
    width: 100%
    grid-gap: 10px
    grid-template-columns: repeat(auto-fill, minmax($width, 1fr))
    justify-items: center

  .thumbnail-row
    .thumbnail-wrapper
      img
        width: 80px
        max-width: 80px
        height: 80px
        max-height: 80px

span, i
  &.top-right, &.top-left, &.bottom-left, &.bottom-right
    position: absolute
  &.top-right
    top: 5px
    right: 5px
  &.top-left
    top: 5px
    left: 5px
  &.bottom-left
    bottom: 7px
    left: 5px
  &.bottom-right
    bottom: 7px
    right: 5px
  &.sale
    display: block
    padding: 5px 8px
    border-radius: 5px
    color: #fff
    background: #52b252

.float-right
  float: right
.float-left
  float: left
