$m-width: 160px
$width: 200px
$height: 200px

.thumbnail-grid
  display: grid
  width: 100%
  justify-items: center
  grid-gap: 10px
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr))
  .thumbnail-wrapper
    border: 1px solid #eee
    box-shadow: 1px 1px 3px 0 #f2f2f2
    display: inline-block
    position: relative
    img
      width: 100%
    &.fit
      width: $m-width
      height: $height
    &.product
      width: $m-width
      height: 240px
    &.admin-product
      width: $m-width
      height: 265px
    &.thumbnail-img-wrapper
      position: relative
      width: $m-width
      height: 160px
    p
      margin: 5px 5px 0
      &.title
        text-overflow: ellipsis
        overflow: hidden
        white-space: nowrap

.thumbnail-row
  display: flex
  flex-direction: column
  .thumbnail-wrapper
    display: flex
    width: 100%
    padding: 8px 0
    border-bottom: 1px solid #eee
    &:first-child
      border-top: 1px solid #eee
    img
      margin-right: 8px
      width: 50px
      height: 50px
    .details
      display: flex
      flex-direction: column
      p
        margin: 0


@media (min-width: 768px)
  .thumbnail-grid
    display: grid
    width: 100%
    grid-gap: 10px
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr))
    justify-items: center
    .thumbnail-wrapper
      &.fit
        width: $width
        height: $height
      &.product
        width: 200px
        height: 280px
      &.admin-product
        width: 200px
        height: 305px
      &.thumbnail-img-wrapper
        width: 200px
        height: 200px

  .thumbnail-row
    .thumbnail-wrapper
      img
        width: 80px
        height: 80px

span, i
  &.top-right, &.top-left, &.bottom-left, &.bottom-right
    position: absolute
  &.top-right
    top: 5px
    right: 5px
  &.top-left
    top: 5px
    left: 5px
  &.bottom-left
    bottom: 7px
    left: 5px
  &.bottom-right
    bottom: 7px
    right: 5px

.float-right
  float: right
.float-left
  float: left
