.margin-5,
.margin-5-res
  margin: 5px

.margin-5-h,
.margin-5-h-res
  margin: 0 5px

.margin-5-v,
.margin-5-v-res
  margin: 5px 0

.margin-5-top,
.margin-5-top-res
  margin-top: 5px

.margin-5-bottom,
.margin-5-bottom-res
  margin-bottom: 5px

.margin-5-right,
.margin-5-right-res
  margin-right: 5px

.margin-5-left,
.margin-5-left-res
  margin-left: 5px

.margin-10,
.margin-10-res
  margin: 10px

.margin-10-h,
.margin-10-h-res
  margin: 0 10px

.margin-10-v,
.margin-10-v-res
  margin: 10px 0

.margin-10-top,
.margin-10-top-res
  margin-top: 10px

.margin-10-bottom,
.margin-10-bottom-res
  margin-bottom: 10px

.margin-10-right,
.margin-10-right-res
  margin-right: 10px

.margin-10-left,
.margin-10-left-res
  margin-left: 10px

.margin-15,
.margin-15-res
  margin: 15px

.margin-15-h,
.margin-15-h-res
  margin: 0 15px

.margin-15-v,
.margin-15-v-res
  margin: 15px 0

.margin-15-top,
.margin-15-top-res
  margin-top: 15px

.margin-15-bottom,
.margin-15-bottom-res
  margin-bottom: 15px

.margin-15-right,
.margin-15-right-res
  margin-right: 15px

.margin-15-left,
.margin-15-left-res
  margin-left: 15px

.no-margin,
.no-margin-res
  margin: 0 !important

@media(min-width: 768px)
  .margin-5-res,
  .margin-5-h-res,
  .margin-5-v-res,
  .margin-5-top-res,
  .margin-5-bottom-res,
  .margin-5-right-res,
  .margin-5-left-res,
  .margin-10-res,
  .margin-10-h-res,
  .margin-10-v-res,
  .margin-10-top-res,
  .margin-10-bottom-res,
  .margin-10-right-res,
  .margin-10-left-res,
  .margin-15-res,
  .margin-15-h-res,
  .margin-15-v-res,
  .margin-15-top-res,
  .margin-15-bottom-res,
  .margin-15-right-res,
  .margin-15-left-res
    margin: auto

  .no-margin-res
    margin: auto !important
